/*---- contact hero content start ----*/
.contact-hero-main {
  background-color: #074B96;
  padding: 40px 0!important;
}
.contact-hero-main .container .text-center {
  position: relative;
}
.contact-hero-main .container .text-center:before {
  content: "";
  margin: 0 auto;
  background-image: url(../images/contact-hero-pettern-left.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 83px;
  width: 83px;
  height: 83px;
  position: absolute;
  left: 0;
  bottom:0;
 }
 .contact-hero-main .container .text-center:after {
  content: "";
  margin: 0 auto;
  background-image: url(../images/contact-hero-pettern-right.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 121px;
  width: 121px;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
 }
.contact-hero-main h1 {
  font-weight: 700;
  font-size: 44px;
  color: #fff;
  line-height: normal;
}
.contact-hero-main h1 br {
  display: none;
}
.contact-hero-main p.mb-3 br {
    display: block;
}
.contact-hero-main p {
  font-size: 16px;
  color: #fff; 
}
.contact-hero-main p br {
    display: none;
  }
 .contact-hero-main p span {
  font-size: 18px;
 } 


@media (max-width: 767px){
.contact-hero-main {
  position: relative;
}
.contact-hero-main h1 {
  font-size: 30px;
  margin: 15px 0 30px 0;
}
.contact-hero-main h1 br {
  display: block;
}  
.contact-hero-main .container .text-center:before,
.contact-hero-main .container .text-center:after {
  display: none;
}
.contact-hero-main p.mb-3 br {
    display: none;
} 
.contact-hero-main p br {
    display: block;
  }
.contact-hero-main:after {
  content: "";
  margin: 0 auto;
  background-image: url(../images/born-bg-mob.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 72px;
  width: 72px;
  height: 72px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}


}


@media (max-width: 575px){ 
  .contact-hero-main {
      padding: 30px 0!important;
  }
  .contact-hero-main .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  

}
/*---- contact hero content End ----*/

/*---- contact form css start ----*/
.contact-container {
  max-width: 620px;
  margin: 0 auto;
}
.contact-container h2 {
  font-size: 28px;
  color: #074B96;
  font-weight: 700;
}
.contact-container .form-control,
.contact-container select,
.contact-container textarea {
  border: solid 1px #000;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 2;
}
.contact-container textarea {
  height: 220px;
}
.contact-container .btn-primary {
  height: 58px;
  line-height: 57px;
  font-size: 18px;
}
@media (max-width: 575px){ 
  .contact-container {
      padding-left: 1.5rem;
      padding-right: 1.5rem
  }
  .contact-container h2 {
    font-size: 24px;
  }
  
}
/*---- contact form cs end ----*/

